{% extends 'html/base.html' %}

{% block title %}
{{ 'Продажи' }}
{% endblock %}

{% block content %}
  <div style="text-align: -webkit-center;">
    <h1>Продать продукт ;)</h1>
    <p>Введите согласно табличке ;)</p>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        {{ form.content }}
      <input type="text" placeholder="Введите название" class="form-control"><br>
      <textarea type="text" placeholder="Введите описание" class="form-control"></textarea>
      <button type="submit" class="btn btn-success">Добавить</button>
    </form>
  </div>
{% endblock %}